html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.split {
    height: 50%;
    width: 100%;
    position: relative;
}

.top {
    background-color: #0047AB; /* Grecian blue color */
}

.bottom {
    background-color: #FFFFF0; /* Ivory color */
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

.centered img {
    width: 100px;
    border-radius: 50%;
}

.centered h1 {
    font-size: 30px;
}